body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #e7c8e5; 
  color: #fff; 
  text-align: center;
  padding: 1em;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(243, 212, 247);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(214, 173, 207, 0.1);
}

h2 {
  color: #000000;
}



ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}


